# Loops
- Name = Muhammd Osama Hashmi

1. Write a Python program to print the numbers from 1 to 10 using a for loop.

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Write a Python program to print the numbers from 20 to 1 using a while loop.

In [2]:
i = 20
while i >= 1:
    print(i)
    i -= 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

3. Write a program to print even numbers from 1 to 10.

In [3]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

4. Write a program that prompts the user to enter a number n and prints all the
numbers from 1 to n.

In [4]:
n = int(input("Enter a number: "))
for i in range(1, n+1):
    print(i)

Enter a number: 5
1
2
3
4
5

5. Write a program that prompts the user to enter a number n, and then prints all the
odd numbers between 1 and n.

In [5]:
n = int(input("Enter a number: "))
for i in range(1, n+1, 2):
    print(i)

Enter a number: 8
1
3
5
7

6. Write a program that prints 'Happy Birthday!' five times on screen.

In [6]:
for i in range(5):
    print("Happy Birthday!")

Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!

 7. Write a program that takes a number n as input from the user and generates the first
n terms of the series formed by squaring the natural numbers. 
- Sample output
  - Enter a number: 6
  - The first 6 terms of the series are:
  - 1 4 9 16 25 36

In [7]:
n = int(input("Enter a number: "))
print("The first", n, "terms of the series are:")
for i in range(1, n+1):
    print(i*i, end=" ")

Enter a number: 8
The first 8 terms of the series are:
1 4 9 16 25 36 49 64

8. Write a program that prompts the user to input a number and prints its multiplication
table.

In [8]:
n = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

Enter a number: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

9. Write a Python program to print the first 8 terms of an arithmetic progression starting
with 3 and having a common difference of 4.
The program should output the following sequence:
3 7 11 15 19 23 27 31

In [9]:
a = 3
d = 4
for i in range(8):
    print(a + i*d, end=" ")

3 7 11 15 19 23 27 31

10. Write a Python program to print the first 6 terms of a geometric sequence starting
with 2 and having a common ratio of 3.
The program should output the following sequence:
2 6 18 54 162 486

In [10]:
a = 2
r = 3
for i in range(6):
    print(a * (r**i), end=" ")

2 6 18 54 162 486

11. Write a program that asks the user for a positive integer value. The program should
calculate the sum of all the integers from 1 up to the number entered. For example, if
the user enters 20, the loop will find the sum of 1, 2, 3, 4, ... 20.

In [11]:
n = int(input("Enter a positive integer: "))
total = 0
for i in range(1, n+1):
    total += i
print("The sum from 1 to", n, "is:", total)

Enter a positive integer: 8
The sum from 1 to 8 is: 36

12. write a program that takes a positive integer N as input and calculates the sum of
the reciprocals of all numbers from 1 up to N. The program should display the final sum.

- Output of the program should be like:
  - Enter a positive integer: 5
  - The sum of reciprocals from 1 to 5 is: 2.28

In [14]:
n = int(input("Enter a positive integer: "))
total = 0
for i in range(1, n+1):
    total += 1/i
print("The sum of reciprocals from 1 to", n, "is:", round(total, 2))

Enter a positive integer: 5
The sum of reciprocals from 1 to 5 is: 2.28

13. Write a program that prompts the user to enter a number and repeats this process 5
times. The program should accumulate the numbers entered and then display the final
running total.

- Sample Output:
  - Enter a number: 10
  - Enter a number: 15
  - Enter a number: 35
  - Enter a number: 40
  - Enter a number: 50
  - The final running total is: 150

In [15]:
total = 0
for i in range(5):
    num = int(input("Enter a number: "))
    total += num
print("The final running total is:", total)

Enter a number: 8
Enter a number: 2
Enter a number: 5
Enter a number: 5
Enter a number: 5
The final running total is: 25

14. Write a program that prompts the user to enter a positive integer and calculates its
factorial. The factorial of a positive integer 'n' is denoted as 'n!' and is calculated by
multiplying all the integers from 1 to 'n' together. For example, the factorial of 5
(denoted as 5!) is calculated as 1 x 2 x 3 x 4 x 5.
The program should display the factorial value if the input is a positive number, or
display a message stating that the factorial does not exist for negative numbers.
Additionally, for an input of zero, the program should output that the factorial of 0 is 1.

In [16]:
n = int(input("Enter a positive integer: "))

if n < 0:
    print("Factorial does not exist for negative numbers.")
elif n == 0:
    print("The factorial of 0 is 1")
else:
    fact = 1
    for i in range(1, n+1):
        fact *= i
    print("The factorial of", n, "is:", fact)

Enter a positive integer: 8
The factorial of 8 is: 40320

15. Write a Python program that prompts the user to enter a base number and an
exponent, and then calculates the power of the base to the exponent. The program
should not use the exponentiation operator (**) or the math.pow() function. The
program should handle both positive and negative exponents.

In [17]:
base = int(input("Enter base: "))
exp = int(input("Enter exponent: "))

result = 1

if exp >= 0:
    for i in range(exp):
        result *= base
else:
    for i in range(-exp):
        result *= base
    result = 1 / result

print(f"{base} ^ {exp} = {result}")

Enter base: 8
Enter exponent: 8
8 ^ 8 = 16777216